.inputBox{
font-size: 20px;
}

.convertButton{
    margin-top:10px;
    padding:2px 15px;
}
.todayDate{
    font-size: large;
}
.spacer{
    width:10px;
}


.inline-area{
    display: flex;
    justify-content: space-around;
}